<div class="wrapper">
    <div class="page-header" style="background-image: url('../assets/img/smallscreen1.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p-messages [(value)]="msgs"></p-messages>

                </div>

            </div>
            <!-- <div class="footer register-footer text-center">
                <h6>&copy;{{test | date: 'yyyy'}}, <i class="fa fa-film heart"></i> by SmallScreen</h6>
            </div> -->
        </div>
    </div>
</div>